/* Vairables */

:root {
  --basic-black: #000000;
  --basic-grey: #6a6a6a;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-navy-blue: #5496bd;
  --basic-red: #ff0000;
  --basic-brow: #766357;
  --basic-dark-brow: #604e43;
  --basic-navy-brow: #503e33;

  --special-grey: #cacaca;
  --special-lite-grey: #f2f2f2;
  --special-dark-grey: #a9a9a9;
  --special-black: #333333;
  --special-white-grey: #eeeeee;
  --special-shadow: rgba(0, 1, 1, 0.2);
}

/* Fonts */

@font-face {
  font-family: "PTSans";
  src: local("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans"), url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woof");
  font-weight: 400;
  font-style: normal;
}

.body {
  font-family: "PTSans";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--special-lite-grey);
  color: var(--basic-black);
}

.hotels-body {
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

li {
  list-style: none;
}

.main-heading {
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
}

.heading {
  font-size: 21px;
  line-height: 21px;
  font-style: bold;
  color: var(--basic-black);
}

.part-list {
  color: var(--basic-white);
}

.heading-part {
  color: var(--basic-white);
}

.features-text {
  color: var(--special-black);
}

.features-part {
  color: var(--basic-white);
}

.interest-heading {
  font-size: 30px;
  line-height: 24px;
  font-style: bold;
}

.interest-text {
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cont {
  font-style: normal;
}

.mountain {
  background-image: url("../img/jpg/mountain.jpg");
}

.nav-item:hover {
  color: var(--basic-blue);
}

.nav-item:active {
  color: var(--basic-grey);
}

.nav-item-active:focus {
  color: var(--basic-grey);
}

.social-item {
  background: var(--basic-blue);
  margin: 6px;
  width: 46px;
  height: 48px;
}

.main-form {
  background-image: url("../img/jpg/mountain3.png");
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.filters-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-heading {
  font-size: 21px;
  line-height: 26px;
}

.results {
  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs {
  opacity: 0.3;
}

.result-text {
 border-bottom: 1px dashed var(--basic-blue);

}

.result-text:hover {
  color: var(--basic-blue);
}

.result-text:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 100%;
}

.rating {
  background-color: var(--special-lite-grey);
  width: 110px;
  height: 27px;
}

.hotels {
  font-size: 21px;
  line-height: 26px;
}

.type-hotels {
  font-size: 14px;
  line-height: 16px;
}

.btn-one {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.btn-two {
  background-color: var(--basic-brow);
  color: var(--basic-white);
}

.btn-one:hover {
  background-color: var(--basic-dark-blue);
}

.btn-two:hover {
  background-color: var(--basic-dark-brow);
}

.btn-one:active {
  background-color: var(--basic-navy-blue);
}

.btn-two:active {
  background-color: var(--basic-navy-brow);
}


/*  */
