/* Vairables */

:root {
  --basic-black: #000000;
  --basic-grey: #6a6a6a;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-navy-blue: #5496bd;
  --basic-red: #ff0000;
  --basic-brow: #766357;
  --basic-dark-brow: #604e43;
  --basic-navy-brow: #503e33;

  --special-grey: #cacaca;
  --special-lite-grey: #f2f2f2;
  --special-dark-grey: #a9a9a9;
  --special-black: #333333;
  --special-white-grey: #eeeeee;
  --special-shadow: rgba(0, 1, 1, 0.2);
}

/* Fonts */

@font-face {
  font-family: "PTSans";
  src: local("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans"), url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woof");
  font-weight: 400;
  font-style: normal;
}

.body {
  font-family: "PTSans";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--special-lite-grey);
  color: var(--basic-black);
}

.hotels-body {
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

li {
  list-style: none;
}

.main-heading {
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  margin: 0 365px;
}

.main-heading-text {
  margin: 0 340px;
  padding: 16px;
}

/* .container {
  width: 1280px;
} */

.nav-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  background-color: var(--basic-white);
  padding: 15px 112px;
  margin: 0 40px;
}

.heading {
  font-size: 21px;
  line-height: 21px;
  font-style: bold;
  color: var(--basic-black);
}

.test {
  background-color: var(--basic-blue);
  height: 256px;
  width: 400px;
  display: grid;
  /* grid-template-columns: 1fr;
  grid-template-rows: ; */
  text-align: center;
  justify-content: center;

}

.part-list {
  color: var(--basic-white);
}

.heading-part {
  color: var(--basic-white);
}

.inside-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: var(--basic-white);
}
.e {
  background-color: var(--special-white-grey);
}

.features {
  display: grid;
}

.features-text {
  color: var(--special-black);
}

.features-part {
  color: var(--basic-white);
}

.interest-heading {
  font-size: 30px;
  line-height: 24px;
  font-style: bold;
  margin: 0 486px;
  padding: 58px 0 36px 0;
}

.interest-text {
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 483px;
  padding: 0 0 110px 0;
}

.cont {
  font-style: normal;
}

.back-image {
  background-image: url("../img/jpg/mountain.jpg");
}

.nav-item:hover {
  color: var(--basic-blue);
}

.nav-item:active {
  color: var(--basic-grey);
}

.nav-item-active:focus {
  color: var(--basic-grey);
}

.social-item {
  background: var(--basic-blue);
  margin: 6px;
  width: 46px;
  height: 48px;
}

.main-form {
  background-image: url("../img/jpg/mountain3.png");
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.filters-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-heading {
  font-size: 21px;
  line-height: 26px;
}

.results {
  font-size: 12px;
  line-height: 18px;
}

.result-text {
  border-bottom: 1px dashed var(--basic-blue);
  opacity: 0.3;
}

.result-text:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.result-text:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
}

.rating {
  background-color: var(--special-lite-grey);
  width: 110px;
  height: 27px;
}

.hotels {
  font-size: 21px;
  line-height: 26px;
}


.first {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.second {
  background-color: var(--basic-brow);
  color: var(--basic-white);
}

.first:hover {
  background-color: var(--basic-dark-blue);
}

.second:hover {
  background-color: var(--basic-dark-brow);
}

.first:active {
  background-color: var(--basic-navy-blue);
}

.second:active {
  background-color: var(--basic-navy-brow);
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
}
/*  */
